<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoogleAuthSpike</title>

    <environment names="Development">
        <link href="~/dist/css/bundle.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/dist/css/bundle.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - GoogleAuthSpike</p>
        </footer>
    </div>
    <script>
        var basePath = "@Url.Content("~/")";
    </script>

    <environment names="Development">
        <script src="~/dist/scripts/bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/scripts/bundle.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
